@page
@model Main_Project.Pages.Set_new_passwordModel
@{
    Layout = "_ResatepasswordLayout";
    ViewData["title"] = "Set New Password";
}
@if (TempData["Message"] != null)
{
    <div class="alert popup_message" id="tempMessage">
        @TempData["Message"]
    </div>


}
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger popup_message" id="tempMessage">
        @TempData["ErrorMessage"]
    </div>
}
<div class="send_otp_div">
    <h1>Set New Password</h1>
    <form id="resetPasswordForm" method="post">
        <div class="form-group">
            <label for="NewPassword" class="control-label">Create new Password</label>
            <input id="NewPassword" asp-for="NewPassword" class="form-control" type="password" />
            <span id="newPasswordError" class="text-danger">@Html.ValidationMessageFor(model => model.NewPassword)</span>
            <span onclick="showforgotepassword1()" id="mdi-eye1" class="mdi mdi-eye"></span>
            <span onclick="showforgotepassword1()" id="eye-closed1" class="mdi mdi-eye-closed"></span>
        </div>

        <div class="form-group">
            <label for="ConfirmPassword" class="control-label">Confirm Password</label>
            <input id="ConfirmPassword" asp-for="ConfirmPassword" class="form-control" type="password" />
            <span id="confirmPasswordError" class="text-danger">@Html.ValidationMessageFor(model => model.ConfirmPassword)</span>
            <span onclick="showforgotepassword2()" id="mdi-eye2" class="mdi mdi-eye"></span>
            <span onclick="showforgotepassword2()" id="eye-closed2" class="mdi mdi-eye-closed"></span>
        </div>

        <button type="submit">Update Password</button>
    </form>
    @if (!string.IsNullOrEmpty(Model.Message))
    {
        <div class="text-danger">@Model.Message</div>
    }
</div>
<script>
    // Use JavaScript to hide the message after 3 seconds
    setTimeout(function () {
        var messageDiv = document.getElementById("tempMessage");
        if (messageDiv) {
            messageDiv.style.display = 'none'; // Hide the message
        }
    }, 4000); // 2000 milliseconds = 2 seconds

    setTimeout(function () {
        var messageDiv = document.getElementById("message");
        if (messageDiv) {
            messageDiv.style.display = 'none'; // Hide the message
        }
    }, 4000); // 2000 milliseconds = 2 seconds
</script>
