@page
@model Main_Project.Pages.Subscription.Edit_subscriptionModel
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Edit Subscription Plan";
}

<h1>Edit Subscription</h1>

<hr />
<div class="col-12 grid-margin stretch-card">
    <form method="post" class="forms-sample">
        <input type="hidden" name="id" value="@Model.subscription.id" />
        <div class="form-group">
            <label for="price" class="control-label">Add Price</label>
            <input type="text" id="price" name="price" class="form-control" value="@Model.subscription.price" />
        </div>

        <div class="form-group">
            <label for="planeduration" class="control-label">Add Plan Duration</label>
            <input type="text" id="planeduration" name="planeduration" class="form-control" value="@Model.subscription.planeduration" />
        </div>

        <div class="form-group">
            <label for="planedetail" class="control-label">Add Plan Detail</label>
            <textarea class="form-control" id="planedetail" name="planedetail" rows="4">@Model.subscription.planedetail</textarea>
        </div> 
        
        <div class="form-group">
            <label for="planename" class="control-label">Plan name</label>
            <textarea class="form-control" id="planename" name="planename" rows="4">@Model.subscription.planename</textarea>
        </div>

        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
    </form>

</div>
<div>
    <a asp-page="./View_subscription">Back to List</a>
</div>