@page
@model Main_Project.Pages.Question_answer.DetailsModel

@{
    ViewData["Title"] = "Perticuler Quastion & answer full Detail";
    Layout = "~/Pages/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Question1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Question1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question.Answer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Question.Answer)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Question.Id">Edit</a> |
    <a asp-page="./Question_answer_Index">Back to List</a>
</div>
